basePath: /v1
host: localhost:8080
info:
  contact:
    name: API Support
    url: https://github.com/BrunoGuimaraesSilva/receitago
  description: API para download e ingestão de dados públicos brasileiros (Receita
    Federal e Tesouro Nacional)
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  title: ReceitaGo API
  version: "1.0"
paths: {}
securityDefinitions:
  BearerAuth:
    description: Type "Bearer" followed by a space and JWT token
    in: header
    name: Authorization
    type: apiKey
swagger: "2.0"
